@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Consolas";
}

@media print {
    body {
        margin: 0;
    }

    section {
        break-inside: avoid;
        page-break-inside: avoid;
    }

    .no-print {
        display: none;
    }

    .no-boarder {
        border: none !important;
        box-shadow: none !important;
    }

    .rounded-2xl {
        break-inside: avoid;
        page-break-inside: avoid;
    }
}
